<!DOCTYPE html>
<html>
{% load static %}
{% load filters %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - TEAM12 ERP</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/Toggle-Switch.css' %}">
</head>

<body id="page-top">
    {% block javascript%} {% endblock %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
                    <div class="sidebar-brand-icon"><img src="{% static 'img/logo-icon.svg' %}" height = 60 alt="logo"/></div>
                    <div class="sidebar-brand-text"><img src="{% static 'img/logo-text.svg' %}" height= 60 alt="logo-text"/></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <!--Below only display if the user has the associated permissions-->
                    {% if request.user|group:"inventory_account" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'inventory' %}"><i class="fas fa-table"></i><span>Inventory</span></a></li>
                    {% endif %}
                    {% if request.user|group:"manufacturing_account" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'manufacturing' %}"><i class="fa fa-bar-chart-o"></i><span>Manufacturing</span></a></li>
                    {% endif %}
                    {% if request.user|group:"sales_account" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'sales' %}"><i class="fa fa-credit-card-alt"></i><span>Sales</span></a></li>
                    {% endif %}
                    {% if request.user|group:"sales_account" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounting' %}"><i class="fa fa-money"></i><span>Accounting</span></a></li>
                    {% endif %}
                    {% if request.user|group:"inventory_account" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'vendors' %}"><i class="fa fa-handshake-o"></i><span>Vendors</span></a></li>
                    {% endif %}

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="container">
                            <div class="row">
                                <div class="col offset-xl-11"><a class="btn btn-primary" role="button" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" style="width: 107px;margin: 6px;" title="Access your Google Drive" href="https://accounts.google.com/ServiceLogin/signinchooser?service=wise&amp;passive=1209600&amp;continue=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&amp;followup=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin"><i class="fab fa-google-drive" style="padding: 4px;"></i>Drive</a></div>
                            </div>
                        </div>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100"> {% csrf_token %}
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% load notifications_tags %}
                            {% notification_menu %}
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                            <i class="fas fa-user"></i>
                                            <span class="d-none d-lg-inline mr-2 text-gray-600 small">&nbsp&nbsp  {{request.user}}</span>
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" data-target="#user-permissions-modal" data-toggle="modal" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                            <div class="dropdown-divider"></div>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div>
                    {% block content %}{% endblock %}
                </div>
                
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TEAM12 ERP 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <div class="modal fade" role="dialog" tabindex="-1" id="user-permissions-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Permissions Settings</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'update-user-groups' %}" id="permissionsForm">
                            {% csrf_token %}
                            <fieldset><label>Select a user to set their permissions:</label><select class="form-control" id="user-selected" onchange="updateCheckBoxes()" name="user-selected">
                                    <option value="none" selected="">Select a user</option>
                                    {% for user in users %}
                                    <option value="{{user.pk}}">{{user.username}}</option>
                                    {% endfor %}
                                </select><label>Select which groups this user should belong to:</label>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="manufacturingCheckbox" name="manufacturingCheckbox"><label class="form-check-label" for="formCheck-4">Manufacturing</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="inventoryCheckbox" name="inventoryCheckbox"><label class="form-check-label" for="formCheck-4">Inventory Management</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="salesCheckbox" name="salesCheckbox"><label class="form-check-label" for="formCheck-4">Sales &amp; Accounting</label></div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit" form="permissionsForm">Save</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script>
        function updateCheckBoxes() {
            var manufacturingCheckbox = document.getElementById("manufacturingCheckbox");
            var inventoryCheckbox = document.getElementById("inventoryCheckbox");
            var salesCheckbox = document.getElementById("salesCheckbox");
            var selectedUser = document.getElementById("user-selected");

            manufacturingCheckbox.checked = false;
            inventoryCheckbox.checked = false;
            salesCheckbox.checked = false;
            $.ajax({
                url: '/get-user-groups/',
                data: {
                    'user_pk': selectedUser.value
                },
                dataType: 'json',
                success: function(data) {
                    if (data.length == 0) {
                        manufacturingCheckbox.checked = false;
                        inventoryCheckbox.checked = false;
                        salesCheckbox.checked = false;
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i] == "manufacturing_account") {
                                manufacturingCheckbox.checked = true;
                            }
                            else if (data[i] == "inventory_account") {
                                inventoryCheckbox.checked = true;
                            }
                            else if (data[i] == "sales_account") {
                                salesCheckbox.checked = true;
                            }
                        }
                    }
                },
                error: function(data) {
                    alert("Uh-oh");
                }
            });
        }
    </script>
</body>
</html>