{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script>
    //Accessing the number of each: sales, manufacturing and orders from the views and storing them in variables
    var num_of_sales = "{{num_of_sales_transactions.num_sales}}";
    var num_of_manu = "{{num_of_manu_transactions.num_manu}}";
    var num_of_orders = "{{num_of_orders_transactions.num_orders}}";
    //Accessing and storing the name of the top three sold products and how many times they are sold
    var first_item_name = "{{top_three_items.0.product.p_name}}";
    var first_item_count = "{{top_three_items.0.count}}";
    var sec_item_name = "{{top_three_items.1.product.p_name}}";
    var sec_item_count = "{{top_three_items.1.count}}";
    var third_item_name = "{{top_three_items.2.product.p_name}}";
    var third_item_count = "{{top_three_items.2.count}}";

    //On loading the document, populate first the doughnut chart with the top three sold items
    //Then, populate the bar chart with the number of transactions whether it is a sale, manufacturing or order.
    $(document).ready(function(){
        var chart_element = document.getElementById('doughnutChart');
        var doughnutChart = new Chart(chart_element, {
            type: 'doughnut',
            data: {
                labels: [first_item_name, sec_item_name, third_item_name],
                datasets: [{
                    label: '# of Votes',
                    data: [first_item_count, sec_item_count, third_item_count],
                    backgroundColor: [
                        '#4e73df',
                        '#1cc88a',
                        '#36b9cc'
                    ],
                    borderColor: [
                        '#ffffff',
                        '#ffffff',
                        '#ffffff',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false,
                }
            }
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['# of Sales', '# of Manufactured items', '# of Ordered items'],
            datasets: [{
                data: [num_of_sales, num_of_manu, num_of_orders],
                backgroundColor: [
                    '#4e73df',
                    '#1cc88a',
                    '#36b9cc'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem) {
                            return tooltipItem.yLabel;
                    }
                }
            }
        }
    });
});
</script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Sales</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>${{sales_transactions.profit}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Manufacturing Cost</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>${{manu_transactions.manu_expense}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-info py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Raw Material Cost</span></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>${{orders_transactions.order_expense}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Total Revenue</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>${{total}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Earnings Overview</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area"><canvas id="myChart" height="110"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Revenue Sources - Top Three Sold Items</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area"><canvas id="doughnutChart"></canvas></div>
                    <div class="text-center small mt-4"><span class="mr-2"><i class="fas fa-circle text-primary"></i>&nbsp;{{top_three_items.0.product.p_name}}</span><span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;{{top_three_items.1.product.p_name}}</span><span class="mr-2"><i class="fas fa-circle text-info"></i>&nbsp;{{top_three_items.2.product.p_name}}</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
