{% extends 'base.html' %}

{% load filters %}

{% block content %}

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Manufacturing</h3>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Material Lists</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Production</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Manufacturing History</a></li>
                            </ul>
                        </div>
                        <div class="card-body tab-content">
                            <div id="tab1" class="tab-pane fade show active">
                                <div class="card shadow" id="material-list-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Create a Material List</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <form id="create-material-list" method="POST" action="{% url 'createMaterialList' %}">{% csrf_token %}
                                                    <fieldset>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div class="col d-flex justify-content-left"><label for="product-name">Write a product name:</label><input class="form-control" type="text" id="product-name" style="margin: 0px 30px 0px 30px;width: 400px;" name="product-name"></div>
                                                        </div>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div class="col d-flex justify-content-left">
                                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="bicycle-check" name="bicycle-check"><label class="form-check-label" for="bicycle-check">Check this box if this product is classified as a bicycle!</label></div>
                                                            </div>
                                                        </div>
                                                        <div id="partsListRows">
                                                            <div class="form-row" style="padding: 5px;height: 48px;">
                                                                <div class="col d-flex justify-content-center"><select class="form-control" id="chosen-component" name="chosen-component">
                                                                        <optgroup label="Parts">
                                                                            {%if parts%}
                                                                                {% for p in parts%}
                                                                                    <option value="{{p.p_name}}" selected="">{{p.p_name}}</option>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </optgroup>
                                                                    </select></div>
                                                                <div class="col d-flex justify-content-center"><input class="form-control" type="number" id="chosen-component-qty" name="chosen-component-qty"></div>
                                                                <div class="col d-flex justify-content-center"><!--<button class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Remove this component"><i class="fa fa-minus"></i></button>--></div>
                                                            </div>
                                                            <!--Generated will be appended below here-->
                                                        </div>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div onclick="addMaterial()" class="col d-flex justify-content-center"><button class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Add new component"><i class="fa fa-plus"></i></button></div>
                                                            <div class="col d-flex justify-content-center"></div>
                                                            <div class="col d-flex justify-content-center"></div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">How to create a material list</h4>
                                                        <p class="card-text">- Write a unique product name;<br>- Pick the product's components (raw materials, other products, and their respective quantities);<br>- Click the button below!</p><input class="btn btn-primary" type="submit" form="create-material-list" value="Create Material List"></input><br>
                                                        <h4 class="card-title">How to update or clone a material list</h4>
                                                        <p class="card-text">- Select an existing material list from the dropdown;<br>- Pick the product's components which you wish to modify(raw materials, other products, and their respective quantities);<br>- To update, leave the name the same,to clone into a new part change the name;<br>- Get started with the dropdown below!</p>
                                                        <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Load Material List
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                {%if parts%}
                                                                    {% for p in parts%}
                                                                        <button class="dropdown-item" onclick="loadMaterialList('{{p.p_name}}');">{{p.p_name}}</button>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div><br>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade show">
                                <div class="card shadow" id="manufacture-product-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Manufacture products</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <form id="manufacture-product" method="POST" action="{% url 'manufacture-product' %}"> {% csrf_token %}
                                                    <input type="hidden" id="dateTime" value="{{incident.created_date_time}}"></input>
                                                    <input type="hidden" name="final-price" value="0" id="final-price">
                                                    <fieldset><label for="choose-material-list">Choose a material list</label><select class="form-control" id="choose-material-list" name="choose-material-list" onchange="updateProductionMaterialList()">
                                                            <optgroup label="Material List For Part">
                                                                {% if parts %}
                                                                    {% for p in parts%}
                                                                        <option value="{{p.p_name}}" selected="">{{p.p_name}}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </optgroup>
                                                        </select><label for="warehouse-destination">Choose a warehouse destination</label><select class="form-control" id="warehouse-destination" name="warehouse-destination" onchange="updateProductionMaterialList()">
                                                            <optgroup label="Active Warehouses">
                                                                {% if warehouse %}
                                                                    {% for p in warehouse%}
                                                                        <option value="{{p.w_name}}" selected="">{{p.w_name}}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </optgroup>
                                                        </select><label for="produce-quantity">Choose the quantity to produce</label><input class="form-control" type="number" id="produce-quantity" name="produce-quantity" value="1" onchange="updateProductionMaterialList()">
                                                        <legend>Choose a product to manufacture:</legend>
                                                    </fieldset>
                                                </form>
                                                <button class="btn btn-primary mt-2" onclick="updateProductionMaterialList()">Update</button>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Your production request:</h4>
                                                        <h6 class="text-muted card-subtitle mb-2">Placed on {{ incident.created_date_time }}</h6>
                                                        <p class="card-text">The required components are:</p>
                                                        <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Component</th>
                                                                            <th>Quantity</th>
                                                                            <th>Available</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="partListHolder">
                                                                        <!--<tr>
                                                                            <td>{{name}}</td>
                                                                            <td>{{qty}}</td>
                                                                            <td>{{avi}}</td>
                                                                        </tr>-->
                                                                    </tbody>
                                                                </table>
                                                        </div>
                                                        <!--Below should be temp and will be converted over to javascript based to be more dynamic-->
                                                        <p class="card-text">The product's value:</p>
                                                        <p id = "mulPrice" class="card-text" style="font-size: 32px;color: var(--blue);" name="mulPrice"></p>
                                                        <p class="card-text">&nbsp;= <p id="basePrice"></p> x 105%</p><button class="btn btn-primary" type="submit" form="manufacture-product">Manufacture</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade show">
                                <div class="card shadow" id="sales-history-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Manufacture History</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 text-nowrap"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></div>
                                            <div class="col-md-6">
                                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label></label></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                            <table class="table my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                        <th>Cost ($)</th>
                                                        <th>Warehouse</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in manufacture_history %}
                                                        <tr>
                                                            <td>{{ item.timestamp }}</td>
                                                            <td>{{ item.p_FK.p_name }}</td>
                                                            <td>{{ item.manufacture_quantity }}</td>
                                                            <td>{{ item.manufacture_total_cost }}</td>
                                                            <td>{{ item.w_FK.w_name }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><strong>Date</strong></td>
                                                        <td><strong>Item</strong></td>
                                                        <td><strong>Quantity</strong></td>
                                                        <td><strong>Cost ($)</strong></td>
                                                        <td><strong>Warehouse</strong></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 align-self-center">
                                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                            </div>
                                            <div class="col-md-6">
                                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <script>
        //Function to add a new row to the list of materials
        function addMaterial(){
            anchor = document.getElementById("partsListRows");
            num = anchor.childNodes.length;
            componentTemplate = document.createElement("DIV");
            componentTemplate.setAttribute("class", "form-row");
            componentTemplate.setAttribute("style", "padding: 5px;height:48px;");
            componentTemplate.setAttribute("id","cRow"+num);
            //the below code could be converted over to DOMNODES or django based solution but should work fine for now
            componentTemplate.innerHTML =  '<div class="col d-flex justify-content-center"><select class="form-control" id="'+num+'chosen-component" name="'+num+'chosen-component"><optgroup label="Products">{%if parts%}{% for p in parts%}<option value="{{p.p_name}}" selected="">{{p.p_name}}</option>{% endfor %}{%endif%}</optgroup></select></div><div class="col d-flex justify-content-center"><input class="form-control" type="number" id="'+num+'chosen-component-qty" name="'+num+'chosen-component-qty"></div><div class="col d-flex justify-content-center"><button onclick="removeMaterial('+num+')" class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Remove this component"><i class="fa fa-minus"></i></button></div>';
            anchor.appendChild(componentTemplate);
        }

        //load a material list in from the database
        function loadMaterialList(nom){
            jQuery.get("/manufacturing/loadMaterialList",{ product: nom }, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                anchor = document.getElementById("partsListRows");
                anchor.innerHTML = '';
                document.getElementById("product-name").value = nom;
                jQuery.each(data, function(i, val) {
                    if(!jQuery.isEmptyObject(val)){
                        console.log(val);
                        if(i=='0'){
                            if(data['0']){
                                document.getElementById('bicycle-check').checked=true;
                            }
                        }else {
                            num = anchor.childNodes.length;
                            componentTemplate = document.createElement("DIV");
                            componentTemplate.setAttribute("class", "form-row");
                            componentTemplate.setAttribute("style", "padding: 5px;height:48px;");
                            componentTemplate.setAttribute("id","cRow"+num);
                            //the below code could be converted over to DOMNODES or django based solution but should work fine for now
                            //below shoudl correctly display the default value for both quantity and part by having selected on ONLY the mathed part name
                            qty = val["quantity"];
                            componentTemplate.innerHTML = '<div class="col d-flex justify-content-center"><select class="form-control" id="'+num+'chosen-component" name="'+num+'chosen-component"><optgroup label="Products">{%if parts%}{% for p in parts%}<option class="dummy{{p.p_name}}" value="{{p.p_name}}" >{{p.p_name}}</option>{% endfor %}{%endif%}</optgroup></select></div><div class="col d-flex justify-content-center"><input class="form-control" type="number" id="'+num+'chosen-component-qty" name="'+num+'chosen-component-qty" value="'+qty+'"></div><div class="col d-flex justify-content-center"><button onclick="removeMaterial('+num+')" class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Remove this component"><i class="fa fa-minus"></i></button></div>';
                            //run through the 
                            hits = componentTemplate.getElementsByClassName("dummy"+val["name"]);
                            if(hits.length>0){
                                hits[0].selected = true;
                            }
                            anchor.appendChild(componentTemplate);
                            //row.innerHTML = "<td>"+val["name"]+"</td><td>"+val["quantity"]+"</td><td>"+val["store"]+"</td>";
                        }
                    }
                });
            });
        }

        //function to remove a row from the list of materials, autogenerated by addMaterial.
        function removeMaterial(num){
            anchor = document.getElementById("partsListRows");
            target = document.getElementById("cRow"+num);
            anchor.removeChild(target);
        }

        function updateProductionMaterialList(){
            p = document.getElementById("choose-material-list").value;
            w = document.getElementById("warehouse-destination").value; 
            q = document.getElementById("produce-quantity").value; 
            jQuery.get("/manufacturing/produceMaterialList",{ product: p, warehouse: w, qty: q }, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                anchor = document.getElementById("partListHolder");
                anchor.innerHTML = '';
                jQuery.each(data, function(i, val) {
                    if(i=='0'){
                        document.getElementById("basePrice").innerHTML = data['0'];
                    }
                    else if(i=='1'){
                        document.getElementById("mulPrice").innerHTML = data['1'];
                        document.getElementById("final-price").value = data['1'];
                    }
                    else if(!jQuery.isEmptyObject(val)){
                        console.log(val);
                        row = document.createElement("TR");
                        //name = document.createElement("TD");
                        //name.appendChild(document.createTextNode(val["name"]));
                        //qty = document.createElement("TD");
                        //qty.appendChild(document.createTextNode(val["quantity"]));
                        //avi = document.createElement("TD");
                        //avi.appendChild(document.createTextNode(val["store"]));
                        //row.appendChild(name);
                        //row.appendChild(qty);
                        //row.appendChild(avi);

                        row.innerHTML = "<td>"+val["name"]+"</td><td>"+val["quantity"]+"</td><td>"+val["store"]+"</td>";

                        anchor.appendChild(row);
                    }
                });
            });
        }

    </script>
{% endblock %}