<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manufacture - TEAM12 ERP</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-icon"><img src="../static/img/logo.svg" width= 210 height= 165 style="margin: 10px 0px 0px -15px;" alt="logo"/></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'inventory' %}"><i class="fas fa-table"></i><span>Inventory</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span>Forgotten Password</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="404.html"><i class="fas fa-exclamation-circle"></i><span>Page Not Found</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-list"></i><span>Planning</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-calendar-o"></i><span>Scheduling</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-shopping-bag"></i><span>Vendors</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manufacturing' %}"><i class="fa fa-bar-chart-o"></i><span>Manufacturing</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-search"></i><span>Quality Management</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-gift"></i><span>Packaging</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-truck"></i><span>Transport</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'sales' %}"><i class="fa fa-user"></i><span>Sales</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-money"></i><span>Accounting</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">{% csrf_token %}
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <div class="container">
                            <div class="row">
                                <div class="col offset-xl-11"><a class="btn btn-primary" role="button" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" style="width: 107px;margin: 6px;" title="Access your Google Drive" href="https://accounts.google.com/ServiceLogin/signinchooser?service=wise&amp;passive=1209600&amp;continue=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&amp;followup=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin"><i class="fab fa-google-drive" style="padding: 4px;"></i>Drive</a></div>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">{% csrf_token %}
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Manufacturing</h3>
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Material Lists</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Production</a></li>
                            </ul>
                        </div>
                        <div class="card-body tab-content">
                            <div id="tab1" class="tab-pane fade show active">
                                <div class="card shadow" id="material-list-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Create a Material List</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <form id="create-material-list" method="POST" action="/createmateriallist">{% csrf_token %}
                                                    <fieldset>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div class="col d-flex justify-content-left"><label for="product-name">Write a product name:</label><input class="form-control" type="text" id="product-name" style="margin: 0px 30px 0px 30px;width: 400px;" name="product name"></div>
                                                        </div>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div class="col d-flex justify-content-left">
                                                                <div class="form-check"><input class="form-check-input" type="checkbox" id="bicycle-check" name="bicycle check"><label class="form-check-label" for="bicycle-check">Check this box if this product is classified as a bicycle!</label></div>
                                                            </div>
                                                        </div>
                                                        <div id="partsListRows">
                                                            <div class="form-row" style="padding: 5px;height: 48px;">
                                                                <div class="col d-flex justify-content-center"><select class="form-control" id="chosen-component" name="chosen component">
                                                                        <optgroup label="Parts">
                                                                            {%if parts%}
                                                                                {% for p in parts%}
                                                                                    <option value="{{p.p_name}}" selected="">{{p.p_name}}</option>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </optgroup>
                                                                    </select></div>
                                                                <div class="col d-flex justify-content-center"><input class="form-control" type="number" id="chosen-component-qty" name="chosen component qty"></div>
                                                                <div class="col d-flex justify-content-center"><!--<button class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Remove this component"><i class="fa fa-minus"></i></button>--></div>
                                                            </div>
                                                            <!--Generated will be appended below here-->
                                                        </div>
                                                        <div class="form-row" style="padding: 5px;height: 48px;">
                                                            <div onclick="addMaterial()" class="col d-flex justify-content-center"><button class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Add new component"><i class="fa fa-plus"></i></button></div>
                                                            <div class="col d-flex justify-content-center"></div>
                                                            <div class="col d-flex justify-content-center"></div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">How to create a material list</h4>
                                                        <p class="card-text">- Write a unique product name;<br>- Pick the product's components (raw materials, other products, and their respective quantities);<br>- Click the button below!</p><input class="btn btn-primary" type="submit" form="create-material-list" value="Create Material List"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade show">
                                <div class="card shadow" id="manufacture-product-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Manufacture products</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <form id="manufacture-product"> {% csrf_token %}
                                                    <input type="hidden" id="dateTime" value="{{incident.created_date_time}}"></input>
                                                    <fieldset><label for="choose-material-list">Choose a material list</label><select class="form-control" id="choose-material-list" name="choose-material-list">
                                                            <optgroup label="Material List For Part">
                                                                {% if parts %}
                                                                    {% for p in parts%}
                                                                        <option value="{{p.p_name}}" selected="">{{p.p_name}}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </optgroup>
                                                        </select><label for="warehouse-destination">Choose a warehouse destination</label><select class="form-control" id="warehouse-destination" name="warehouse-destination">
                                                            <optgroup label="Active Warehouses">
                                                                {% if warehouse %}
                                                                    {% for p in warehouse%}
                                                                        <option value="{{p.w_name}}" selected="">{{p.w_name}}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </optgroup>
                                                        </select><label for="produce-quantity">Choose the quantity to produce</label><input class="form-control" type="number" id="produce-quantity" name="produce-quantity" value="1">
                                                        <legend>Choose a product to manufacture:</legend>
                                                    </fieldset>
                                                </form>
                                                <button class="btn btn-primary" onclick="updateProductionMaterialList()">Update</button>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Your production request:</h4>
                                                        <h6 class="text-muted card-subtitle mb-2">Placed on {{ incident.created_date_time }}</h6>
                                                        <p class="card-text">The required components are:</p>
                                                        <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Component</th>
                                                                            <th>Quantity</th>
                                                                            <th>Available</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="partListHolder">
                                                                        <!--<tr>
                                                                            <td>{{name}}</td>
                                                                            <td>{{qty}}</td>
                                                                            <td>{{avi}}</td>
                                                                        </tr>-->
                                                                    </tbody>
                                                                </table>
                                                        </div>
                                                        <!--Below should be temp and will be converted over to javascript based to be more dynamic-->
                                                        <p class="card-text">The product's value:</p>
                                                        <p id = "mulPrice" class="card-text" style="font-size: 32px;color: var(--blue);"></p>
                                                        <p class="card-text">&nbsp;= <p id="basePrice"></p> x 105%</p><button class="btn btn-primary" type="button" form="manufacture-product">Manufacture</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TEAM12 ERP 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script>
        //Function to add a new row to the list of materials
        function addMaterial(){
            anchor = document.getElementById("partsListRows");
            num = anchor.childNodes.length;
            componentTemplate = document.createElement("DIV");
            componentTemplate.setAttribute("class", "form-row");
            componentTemplate.setAttribute("style", "padding: 5px;height:48px;");
            componentTemplate.setAttribute("id","cRow"+num);
            //the below code could be converted over to DOMNODES or django based solution but should work fine for now
            componentTemplate.innerHTML =  '<div class="col d-flex justify-content-center"><select class="form-control" id="'+num+'chosen-component" name="chosen component"><optgroup label="Products">{%if products%}{% for p in products%}<option value="{{p.p_name}}" selected="">{{p.p_name}}</option>{% endfor %}{%endif%}</optgroup><optgroup label="Raw Materials">{%if materials%}{% for p in materials%}<option value="{{p.rm_name}}" selected="">{{p.rm_name}} ({{p.rm_unit_cost}})</option>{% endfor %}{%endif%}</optgroup></select></div><div class="col d-flex justify-content-center"><input class="form-control" type="number" id="'+num+'chosen-component-qty" name="chosen component qty"></div><div class="col d-flex justify-content-center"><button onclick="removeMaterial('+num+')" class="btn btn-primary" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="button" title="Remove this component"><i class="fa fa-minus"></i></button></div>';
            anchor.appendChild(componentTemplate);
        }
        //function to remove a row from the list of materials, autogenerated by addMaterial.
        function removeMaterial(num){
            anchor = document.getElementById("partsListRows");
            target = document.getElementById("cRow"+num);
            anchor.removeChild(target);
        }

        function updateProductionMaterialList(){
            p = document.getElementById("choose-material-list").value;
            w = document.getElementById("warehouse-destination").value; 
            q = document.getElementById("produce-quantity").value; 
            jQuery.get("/produceMaterialList",{ product: p, warehouse: w, qty: q }, function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                jQuery.each(data, function(i, val) {


                    if(i=='0'){
                        document.getElementById("basePrice").innerHTML = data['0'];
                    }
                    else if(i=='1'){
                        document.getElementById("mulPrice").innerHTML = data['1'];
                    }
                    else if(!jQuery.isEmptyObject(val)){
                        console.log(val);
                        anchor = document.getElementById("partListHolder");
                        anchor.innerHTML = '';
                        row = document.createElement("TR");
                        name = document.createElement("TD");
                        //name.appendChild(document.createTextNode(val["name"]));
                        qty = document.createElement("TD");
                        //qty.appendChild(document.createTextNode(val["quantity"]));
                        avi = document.createElement("TD");
                        //avi.appendChild(document.createTextNode(val["store"]));
                        row.appendChild(name);
                        row.appendChild(qty);
                        row.appendChild(avi);
                        anchor.appendChild(row);
                    }
                });
            });
        }

    </script>
</body>

</html>