{% extends 'base.html' %}

{% load filters %}

{% block content %}

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Sales</h3>
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item"><a id="sell-tab-id" class="nav-link{%  if tab == 'sell-tab' %} active{%  endif %}" href="#sell-tab" data-toggle="tab">Sell</a></li>
                                <li class="nav-item"><a id="history-tab-id" class="nav-link{%  if tab == 'history-tab' %} active{%  endif %}" href="#history-tab" data-toggle="tab">History</a></li>
                                <li class="nav-item"><a id="shipping-tab-id" class="nav-link{%  if tab == 'shipping-tab' %} active{%  endif %}" href="#shipping-tab" data-toggle="tab">Shipping</a></li>
                                <li class="nav-item"><a id="customer-tab-id" class="nav-link{%  if tab == 'customer-tab' %} active{%  endif %}" href="#customer-tab" data-toggle="tab">Customers</a></li>
                            </ul>
                        </div>
                        <div class="card-body tab-content">
                            <div id="sell-tab" class="tab-pane fade show{%  if tab == 'sell-tab' %} active{%  endif %}">
                                <div class="card shadow" id="sell-product-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Sell Products</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'add-order' %}">
                                            {%  csrf_token %}
                                            {{ order_form.as_p }}
                                            <button type="submit" class="btn btn-primary">Add Order</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="history-tab" class="tab-pane fade show{%  if tab == 'history-tab' %} active{%  endif %}">
                                <div class="card shadow" id="sales-history-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">History of Sales<a class="btn btn-primary" id="download-btn" href="/sales/download-sales-history-csv" style="float: right;">Download</a></p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label></label></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                            <table class="table my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>ID #</th>
                                                        <th>Date Created</th>
                                                        <th>Delivery Date</th>
                                                        <th>Product Sold</th>
                                                        <th>Quantity</th>
                                                        <th>Warehouse Source</th>
                                                        <th>Sale Total</th>
                                                        <th>Customer</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in order_history %}
                                                    <tr>
                                                        <td>{{ order.id }}</td>
                                                        <td>{{ order.date_created }}</td>
                                                        <td>{{ order.delivery_date }}</td>
                                                        <td>{{ order.product.p_name }}</td>
                                                        <td>{{ order.quantity }}</td>
                                                        <td>{{ order.warehouse.w_name }}</td>
                                                        <td>{{ order.sale_total }}</td>
                                                        <td>{{ order.customer.name }}</td>
                                                        <td>{{ order.status }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><strong>ID #</strong></td>
                                                        <td><strong>Date Created</strong></td>
                                                        <td><strong>Delivery Date</strong></td>
                                                        <td><strong>Product Sold</strong></td>
                                                        <td><strong>Quantity</strong></td>
                                                        <td><strong>Warehouse Source</strong></td>
                                                        <td><strong>Sale Total</strong></td>
                                                        <td><strong>Customer</strong></td>
                                                        <td><strong>Status</strong></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 align-self-center">
                                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                            </div>
                                            <div class="col-md-6">
                                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="shipping-tab" class="tab-pane fade show{%  if tab == 'shipping-tab' %} active{%  endif %}">
                                <form>
                                    <fieldset>
                                        <div class="card shadow" id="shipping-card">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 font-weight-bold">Shipping</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="text-md-right dataTables_filter" id="dataTable_filter"><label></label></div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                                    <table class="table my-0" id="dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th style="border-width: -10px;">Sold Item</th>
                                                                <th>Tracking ID</th>
                                                                <th>Status</th>
                                                                <th>Set Status (Debug)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for sale in order_history %}
                                                                <tr>
                                                                    <td>{{sale.product.p_name}}</td>
                                                                    <td>{{sale.pk}}</td>
                                                                    {% if sale.status|is_equal:"PENDING" %}
                                                                        <td style="background: var(--red);color: var(--white);">Not Sent</td>
                                                                    {% elif sale.status|is_equal:"SHIPPED" %}
                                                                        <td style="background: var(--yellow);color: var(--white);">In Transit</td>
                                                                    {% else %}
                                                                        <td style="color: var(--white);background: var(--success);">Delivered</td>
                                                                    {% endif %}
                                                                    <td>
                                                                        <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: var(--red);border-color: var(--red);" onclick="setStatus({{sale.pk}}, 1)">Not Sent</button><button class="btn btn-primary" type="button" style="background: var(--yellow);border-color: var(--yellow);" onclick="setStatus({{sale.pk}}, 2)">In Transit</button><button class="btn btn-primary" type="button" style="background: var(--success);border-color: var(--success);" onclick="setStatus({{sale.pk}}, 3)">Delivered</button></div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td><strong>Sale ID</strong></td>
                                                                <td><strong>Tracking ID</strong></td>
                                                                <td><strong>Status</strong></td>
                                                                <td><strong>Set Status</strong></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 align-self-center">
                                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                            <ul class="pagination">
                                                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div id="customer-tab" class="tab-pane fade show{%  if tab == 'customer-tab' %} active{%  endif %}">
                                <div class="card shadow" id="sell-product-card">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Customer</p>
                                    </div><!-- Start: customer_body -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <form id="add-customer" method="POST" action="{% url 'add-customer' %}">
													{% csrf_token %}
                                                    {{ customer_form.as_p }}
                                                    <button type="submit" class="btn btn-primary">Add Customer</button>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <div class="card"></div>
                                            </div>
                                        </div>
                                    </div><!-- End: customer_body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    //Styling the input field and select field to make it consistent with the other fields in the app
                    var form_fields = document.getElementsByTagName('input')
                    for (var i=0; i<form_fields.length; i++) {
                        form_fields[i].className='form-control';
                    }

                    var select_fields = document.getElementsByTagName('select')
                    for (var i=0; i<select_fields.length; i++) {
                        select_fields[i].className='form-control';
                    }

                    function setStatus(order_id, status) {
                        // make an ajax call to change in database and reload page
                        location.replace("/sales/set-order-status/?order_id=" + order_id + "&status=" + status)
                    }
                </script>

{% endblock %}